@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-russo-one: var(--font-russo-one);
  --font-squada-one: var(--font-squada-one);
  --font-revalia: var(--font-revalia);
  --font-source-code-pro: var(--font-source-code-pro);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-source-code-pro);
}

.page-section {
  @apply px-6 sm:px-8 py-16 md:px-16 md:py-24 lg:px-20 lg:py-30 border-b-2 sm:border-b-3 border-black flex flex-col;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes scroll {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 calc(40% - 20px);
  min-width: 0;
  margin-right: 20px;
}

.embla__slide:last-child {
  margin-right: 0px;
}
